<% if(title == 'dashboard') { %>
  <a href="/users/logout" class="btn btn-outline-primary btn-space">Logout</a>
<% } else { %>
  <a href="/users/login" class="btn btn-outline-primary btn-space">Login</a>
  <a href="/users/register" class="btn btn-outline-primary btn-space">Register</a>
<% }%>
