<% if(title == 'dashboard') { %>
  <input id="place-input" class="form-control mr-sm-2" type="search" placeholder="Search Places" aria-label="Search">
  <a id="logout_btn" href="/users/logout" class="btn btn-outline-primary btn-space">Logout</a>
<% } else { %>
  <a href="/users/login" class="btn btn-outline-primary btn-space">Login</a>
  <a href="/users/register" class="btn btn-outline-primary btn-space">Register</a>
<% }%>
