<!-- If the user already logged, then enables the "messaging" function -->
<% if(title == 'dashboard' || title == 'dashboard-messaging') { %>
  <a class="nav-link" id="preference_btn" style="cursor: pointer;">Preference</a>

  <li class="nav-item">
    <a class="nav-link" id="messaging" href="/dashboard-messaging">Messaging</a>
  </li>
<% } %>
