<form class="form-signin" id="signin-form"  action="/users/login" method="POST">
  <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
  <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <input type="checkbox" value="remember-me"> Remember me
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="signInSubmitBtn" type="submit">Login</button>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
        </div>
      </div>
    </div>
    <% include ./partials/messages %>
</form>
